In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\programdata\anaconda3\lib\site-packages (0.19.0)

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

In [3]:
!pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

In [5]:
movies=pd.read_csv(r"C:\Users\krish\Downloads\ExcelR-Python-Codes-main\ExcelR-Python-Codes-main\my_movies (3).csv")

In [6]:
movies=pd.read_csv(r"C:\Users\krish\Downloads\ExcelR-Python-Codes-main\ExcelR-Python-Codes-main\my_movies (3).csv",header=None)

In [7]:
movies.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,V1,V2,V3,V4,V5,Sixth Sense,Gladiator,LOTR1,Harry Potter1,Patriot,LOTR2,Harry Potter2,LOTR,Braveheart,Green Mile
1,Sixth Sense,LOTR1,Harry Potter1,Green Mile,LOTR2,1,0,1,1,0,1,0,0,0,1
2,Gladiator,Patriot,Braveheart,NaN,NaN,0,1,0,0,1,0,0,0,1,0
3,LOTR1,LOTR2,NaN,NaN,NaN,0,0,1,0,0,1,0,0,0,0
4,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0

In [8]:
movies.tail()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
6,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
7,Harry Potter1,Harry Potter2,NaN,NaN,NaN,0,0,0,1,0,0,1,0,0,0
8,Gladiator,Patriot,NaN,NaN,NaN,0,1,0,0,1,0,0,0,0,0
9,Gladiator,Patriot,Sixth Sense,NaN,NaN,1,1,0,0,1,0,0,0,0,0
10,Sixth Sense,LOTR,Gladiator,Green Mile,NaN,1,1,0,0,0,0,0,1,0,1

In [9]:
df=pd.get_dummies(movies)
df.head()

,0_Gladiator,0_Harry Potter1,0_LOTR1,0_Sixth Sense,0_V1,1_Harry Potter2,1_LOTR,1_LOTR1,1_LOTR2,1_Patriot,...,11_Harry Potter2,12_0,12_1,12_LOTR,13_0,13_1,13_Braveheart,14_0,14_1,14_Green Mile
0,0,0,0,0,1,0,0,0,0,0,...,1,0,0,1,0,0,1,0,0,1
1,0,0,0,1,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,1,0
2,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,1,0,0
3,0,0,1,0,0,0,0,0,1,0,...,0,1,0,0,1,0,0,1,0,0
4,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,1,0,0,1,0,0

In [10]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

       support                                           itemsets
0     0.545455                                      (0_Gladiator)
1     0.181818                                    (0_Sixth Sense)
2     0.545455                                        (1_Patriot)
3     0.363636                                    (2_Sixth Sense)
4     0.181818                                     (3_Green Mile)
...        ...                                                ...
9536  0.363636  (6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 12_0, 9_1, 0...
9537  0.363636  (6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...
9538  0.363636  (6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...
9539  0.363636  (6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...
9540  0.363636  (6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...

[9541 rows x 2 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0_Gladiator),(1_Patriot),0.545455,0.545455,0.545455,1.000000,1.833333,0.247934,inf
1,(1_Patriot),(0_Gladiator),0.545455,0.545455,0.545455,1.000000,1.833333,0.247934,inf
2,(0_Gladiator),(2_Sixth Sense),0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
3,(2_Sixth Sense),(0_Gladiator),0.363636,0.545455,0.363636,1.000000,1.833333,0.165289,inf
4,(0_Gladiator),(5_0),0.545455,0.363636,0.181818,0.333333,0.916667,-0.016529,0.954545
...,...,...,...,...,...,...,...,...,...
1699029,(9_1),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 0...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699030,(0_Gladiator),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699031,(10_0),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.727273,0.363636,0.363636,0.500000,1.375000,0.099174,1.272727
1699032,(1_Patriot),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699033,(2_Sixth Sense),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.363636,0.363636,0.363636,1.000000,2.750000,0.231405,inf

In [12]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
11227,"(5_0, 9_0)","(14_0, 6_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
180069,"(12_0, 7_1, 6_0, 9_0)","(10_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61788,"(12_0, 11_0, 9_0)","(7_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61780,"(12_0, 11_0, 9_0, 13_0)",(7_1),0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61779,(7_1),"(12_0, 10_1, 9_0, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61778,(10_1),"(12_0, 7_1, 9_0, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61773,"(12_0, 7_1)","(10_1, 9_0, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61772,"(12_0, 10_1)","(7_1, 9_0, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61771,"(7_1, 9_0)","(12_0, 10_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61770,"(10_1, 9_0)","(12_0, 7_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61768,"(7_1, 13_0)","(12_0, 10_1, 9_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61767,"(10_1, 13_0)","(12_0, 7_1, 9_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61762,"(12_0, 7_1, 9_0)","(10_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61761,"(12_0, 10_1, 9_0)","(7_1, 13_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61759,"(12_0, 7_1, 13_0)","(10_1, 9_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61758,"(12_0, 10_1, 13_0)","(7_1, 9_0)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61757,"(7_1, 9_0, 13_0)","(12_0, 10_1)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61756,"(10_1, 9_0, 13_0)","(12_0, 7_1)",0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61751,"(12_0, 7_1, 9_0, 13_0)",(10_1),0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf
61750,"(12_0, 10_1, 9_0, 13_0)",(7_1),0.181818,0.181818,0.181818,1.0,5.5,0.14876,inf

In [13]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(0_Gladiator),(1_Patriot),0.545455,0.545455,0.545455,1.000000,1.833333,0.247934,inf
1,(1_Patriot),(0_Gladiator),0.545455,0.545455,0.545455,1.000000,1.833333,0.247934,inf
2,(0_Gladiator),(2_Sixth Sense),0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
3,(2_Sixth Sense),(0_Gladiator),0.363636,0.545455,0.363636,1.000000,1.833333,0.165289,inf
6,(0_Gladiator),(5_1),0.545455,0.545455,0.363636,0.666667,1.222222,0.066116,1.363636
...,...,...,...,...,...,...,...,...,...
1699029,(9_1),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 0...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699030,(0_Gladiator),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699031,(10_0),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.727273,0.363636,0.363636,0.500000,1.375000,0.099174,1.272727
1699032,(1_Patriot),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.545455,0.363636,0.363636,0.666667,1.833333,0.165289,1.909091
1699033,(2_Sixth Sense),"(6_1, 11_0, 7_0, 13_0, 14_0, 8_0, 5_1, 12_0, 9...",0.363636,0.363636,0.363636,1.000000,2.750000,0.231405,inf