In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\programdata\anaconda3\lib\site-packages (0.19.0)
Requirement already satisfied: scipy>=1.2.1 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: joblib>=0.13.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: numpy>=1.16.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: scikit-learn>=0.20.3 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (0.24.2)
Requirement already satisfied: pandas>=0.24.2 in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.20.3->mlxtend) (2.2.0)

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

In [3]:
!pip install apyori

Requirement already satisfied: apyori in c:\programdata\anaconda3\lib\site-packages (1.1.2)

WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution - (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -cikit-learn (c:\programdata\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -arso (c:\programdata\anaconda3\lib\site-packages)

In [4]:
book=pd.read_csv(r"C:\Users\krish\Downloads\ExcelR-Python-Codes-main\ExcelR-Python-Codes-main\book (2).csv")

In [5]:
book.head()

,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
0,0,1,0,1,0,0,1,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0
3,1,1,1,0,1,0,1,0,0,0,0
4,0,0,1,0,0,0,1,0,0,0,0

In [6]:
book=pd.read_csv(r"C:\Users\krish\Downloads\ExcelR-Python-Codes-main\ExcelR-Python-Codes-main\book (2).csv",header=None)

In [7]:
book.head()

,0,1,2,3,4,5,6,7,8,9,10
0,ChildBks,YouthBks,CookBks,DoItYBks,RefBks,ArtBks,GeogBks,ItalCook,ItalAtlas,ItalArt,Florence
1,0,1,0,1,0,0,1,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0
4,1,1,1,0,1,0,1,0,0,0,0

In [8]:
book.tail()

     0  1  2  3  4  5  6  7  8  9  10
1996  0  0  1  0  0  1  1  1  0  1  1
1997  0  0  0  0  0  0  0  0  0  0  0
1998  0  0  0  0  0  0  0  0  0  0  0
1999  0  0  1  0  0  0  0  0  0  0  0
2000  0  0  0  0  0  0  0  0  0  0  0

In [9]:
df=pd.get_dummies(book)
df.head()

,0_0,0_1,0_ChildBks,1_0,1_1,1_YouthBks,2_0,2_1,2_CookBks,3_0,...,7_ItalCook,8_0,8_1,8_ItalAtlas,9_0,9_1,9_ItalArt,10_0,10_1,10_Florence
0,0,0,1,0,0,1,0,0,1,0,...,1,0,0,1,0,0,1,0,0,1
1,1,0,0,0,1,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0
2,0,1,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
3,1,0,0,1,0,0,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
4,0,1,0,0,1,0,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0

In [10]:
frequent_itemsets = apriori(df, min_support=0.1, use_colnames=True)
frequent_itemsets

       support                                           itemsets
0     0.576712                                              (0_0)
1     0.422789                                              (0_1)
2     0.752124                                              (1_0)
3     0.247376                                              (1_1)
4     0.568716                                              (2_0)
...        ...                                                ...
3966  0.243878  (1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...
3967  0.276862  (1_0, 7_0, 5_0, 10_0, 6_0, 8_0, 0_0, 4_0, 9_0,...
3968  0.239380  (7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0, 9_0,...
3969  0.278361  (1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 4_0, 9_0,...
3970  0.210395  (1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...

[3971 rows x 2 columns]

In [11]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1_0),(0_0),0.752124,0.576712,0.494253,0.657143,1.139465,0.060494,1.234591
1,(0_0),(1_0),0.576712,0.752124,0.494253,0.857019,1.139465,0.060494,1.733630
2,(2_0),(0_0),0.568716,0.576712,0.401799,0.706503,1.225054,0.073814,1.442222
3,(0_0),(2_0),0.576712,0.568716,0.401799,0.696707,1.225054,0.073814,1.422006
4,(0_0),(2_1),0.576712,0.430785,0.174913,0.303293,0.704048,-0.073526,0.817008
...,...,...,...,...,...,...,...,...,...
249643,(8_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 0_0, 4_0, 9_0,...",0.962519,0.210395,0.210395,0.218588,1.038941,0.007886,1.010485
249644,(0_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 4_0, 9_0,...",0.576712,0.278361,0.210395,0.364818,1.310594,0.049861,1.136114
249645,(4_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 9_0,...",0.785107,0.225387,0.210395,0.267982,1.188985,0.033442,1.058188
249646,(9_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...",0.951024,0.210395,0.210395,0.221230,1.051498,0.010304,1.013913
249647,(3_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...",0.717641,0.243878,0.210395,0.293175,1.202140,0.035378,1.069745

In [12]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
139,(2_1),(7_1),0.430785,0.113443,0.113443,0.263341,2.321346,0.064574,1.203483
138,(7_1),(2_1),0.113443,0.430785,0.113443,1.000000,2.321346,0.064574,inf
908,(6_1),"(5_1, 0_1)",0.275862,0.162419,0.101949,0.369565,2.275385,0.057144,1.328577
905,"(5_1, 0_1)",(6_1),0.162419,0.275862,0.101949,0.627692,2.275385,0.057144,1.944999
1747,(5_1),"(3_1, 2_1)",0.240880,0.187406,0.101449,0.421162,2.247320,0.056307,1.403836
1746,"(3_1, 2_1)",(5_1),0.187406,0.240880,0.101449,0.541333,2.247320,0.056307,1.655059
5742,"(0_1, 2_1)","(4_1, 10_0)",0.255872,0.183408,0.105447,0.412109,2.246951,0.058518,1.389020
5743,"(4_1, 10_0)","(0_1, 2_1)",0.183408,0.255872,0.105447,0.574932,2.246951,0.058518,1.750609
1865,"(5_1, 2_1)",(6_1),0.166917,0.275862,0.103448,0.619760,2.246632,0.057402,1.904426
1868,(6_1),"(5_1, 2_1)",0.275862,0.166917,0.103448,0.375000,2.246632,0.057402,1.332934
1866,"(6_1, 2_1)",(5_1),0.192404,0.240880,0.103448,0.537662,2.232080,0.057102,1.641918
1867,(5_1),"(6_1, 2_1)",0.240880,0.192404,0.103448,0.429461,2.232080,0.057102,1.415496
701,"(0_1, 2_1)",(4_1),0.255872,0.214393,0.122439,0.478516,2.231957,0.067582,1.506483
704,(4_1),"(0_1, 2_1)",0.214393,0.255872,0.122439,0.571096,2.231957,0.067582,1.734950
5734,(4_1),"(0_1, 9_0, 2_1)",0.214393,0.225887,0.107446,0.501166,2.218655,0.059018,1.551843
5723,"(0_1, 9_0, 2_1)",(4_1),0.225887,0.214393,0.107446,0.475664,2.218655,0.059018,1.498289
5738,"(0_1, 10_0, 2_1)",(4_1),0.222389,0.214393,0.105447,0.474157,2.211629,0.057769,1.493997
5747,(4_1),"(0_1, 10_0, 2_1)",0.214393,0.222389,0.105447,0.491841,2.211629,0.057769,1.530253
66658,"(0_1, 9_0, 2_1)","(6_1, 8_0, 10_0)",0.225887,0.217391,0.107946,0.477876,2.198230,0.058840,1.498895
66643,"(6_1, 8_0, 10_0)","(0_1, 9_0, 2_1)",0.217391,0.225887,0.107946,0.496552,2.198230,0.058840,1.537622

In [13]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(1_0),(0_0),0.752124,0.576712,0.494253,0.657143,1.139465,0.060494,1.234591
1,(0_0),(1_0),0.576712,0.752124,0.494253,0.857019,1.139465,0.060494,1.733630
2,(2_0),(0_0),0.568716,0.576712,0.401799,0.706503,1.225054,0.073814,1.442222
3,(0_0),(2_0),0.576712,0.568716,0.401799,0.696707,1.225054,0.073814,1.422006
6,(3_0),(0_0),0.717641,0.576712,0.478761,0.667131,1.156784,0.064889,1.271636
...,...,...,...,...,...,...,...,...,...
249643,(8_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 0_0, 4_0, 9_0,...",0.962519,0.210395,0.210395,0.218588,1.038941,0.007886,1.010485
249644,(0_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 4_0, 9_0,...",0.576712,0.278361,0.210395,0.364818,1.310594,0.049861,1.136114
249645,(4_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 9_0,...",0.785107,0.225387,0.210395,0.267982,1.188985,0.033442,1.058188
249646,(9_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...",0.951024,0.210395,0.210395,0.221230,1.051498,0.010304,1.013913
249647,(3_0),"(1_0, 7_0, 5_0, 10_0, 6_0, 2_0, 8_0, 0_0, 4_0,...",0.717641,0.243878,0.210395,0.293175,1.202140,0.035378,1.069745